# General settings
ip: !!str 'localhost'
my_ip: !!str 'localhost'
port: !!int 1883 # communication port [1883 mqtt, 12345 tcp]
protocol: !!str "mqtt" # communication protocol [tcp or mqtt]
mode: !!str "Server" # use parameter --mode
fl_method: !!str "FedAvgN" # aggregation algorithm [FedAvg(Adam),FedAvgN(SGD),FedDyn,SCAFFOLD, FedAsync, AsyncFedED, ASOFed, Unweighted]
model: !!str "LeNetModified" # model
device: !!str "cpu" #cuda for gpu or cpu
sleep_time: !!float 0.2

# Dataset settings
dataset: !!str "MedMNIST" # dataset
num_parts_dataset: !!int 10 # number of parts for MNIST and CIFAR10
test_size: !!int 0 # number of records for testing (0 for all)
iid_ratio: !!float 1.0 # ratio for data partitioning
alpha: !!float 10 # for dirichlet partitioning
seed: !!int 2024
train_batch_size: !!int 300
test_batch_size: !!int 300
load_dataset: !!bool false # load dataset from file

# FL client settings
client_config:
  epochs: !!int 5 # number of epoch per client
  local_step_size: !!float 0.001
  alpha: !!float 0.1 # used by FedDyn
  # FedAsync parameters
  fedAsync_rho: !!float 0.005 # used by FedAsync
  # ASOFed parameters
  asofed_rho: !!float 0.005 # used by ASOFed
  asofed_beta: !!float 0.5 #0.1 # used by ASOFed
  

# FL server settings
server_config:
  max_time: null # duration in time of the simulation
  max_accuracy: null # max accuracy to stop the simulation
  rounds: null # number of FL rounds

  max_num_clients: !!int 100 # max client connections allowed
  client_round: !!int 5 # n client selected foreach round (used also by dynamic sampling as starting C)
  global_step_size: !!float  1.0 # global learning rate mandatory for SCAFFOLD
  min_client_to_start: !!int 5 # min connected clients to start federation
  # FedAsync parameters
  constant_step_size: !!float 0.5 # server learning rate for FedAsync
  fedAsync_variant: !!str "hinge" # FedAsync variant [hinge, polynomial]
  fedAsync_a_hinge: !!float 0.5 # used by FedAsync
  fedAsync_b_hinge: !!float 0.5 # used by FedAsync
  fedAsync_a_poly: !!float 0.5 # used by FedAsync
  fedAsync_mu_0 : !!float 0.2 # used by FedAsync
  # Unweighted parameters
  unweighted_mu_0: !!float 0.1 # used by Unweighted
  # AsyncFedED parameters
  asyncFedED_lambda: !!float 0.1 # used by AsyncFedED
  asyncFedED_epsilon: !!float 1 # used by AsyncFedED
  asyncFedED_gamma_bar: !!float 5 # used by AsyncFedED
  asyncFedED_k: !!float 0.05 # used by AsyncFedED
  # ASOFed parameters
  asofed_rho: !!float 0.5 # used by ASOFed
  asofed_global_lr: !!float 0.1 # used by ASOFed
  

# FL optimizations settings
dyn_sampling: !!bool false
decay_rate: !!float 0.1 # for dynamic sampling
client_selection: !!bool false
model_pruning: !!bool false
prune_interval: !!int 3 # pruning start every n training rounds
prune_ratio: !!float 0.1 # ratio of filters pruned every interval [64 - 6 -> 58]
client_clustering: !!bool True

# FL logging settings
accuracy_file: !!str "accuracy.png" # file to save accuracy
loss_file: !!str "loss.png" # file to save loss